


.approach-flex-element{
  max-width: 600px;
  // background-color: pink;
  margin-top: 150px;
}

.approach-list{
  // display: block;
  height: 100%;
  width: auto;
}

.approach-list-item{
  height: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.font-large-approach{
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: lighter;
}


.font-middle-approach{
  font-size: 22px;
  font-weight: lighter;
  line-height: 32px;
}

.ur-approach-services{
  max-width: 1100px;

  // height: 400px;
  margin: 0 auto;
  // text-align: center;
  // font-size: 42px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}
.widthit{
  max-width: 800px;
  height: 300px;
  margin: auto;
}

.approach-image{
  margin: auto;
  // width: 100%;
}
